
@{
    ViewData["Title"] = "Add New Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card" ng-app="CRMApp"  ng-controller="ContactController" ng-init="OnInit()">
    <form name="frm">
        <div class="card-body">
            <div class="shadow rounded">
                <div class="title text-left w-100 pt-2 text-dark font-weight-bolder">Add New Contact</div>
                <hr class="border-bottom-light mb-0" />
                <div class="p-2">                  
                    <div class="row">
                        <div class="title text-left w-100 pt-2 text-dark font-weight-bolder"> General Information</div>                           
                            <hr class="border-bottom-light mb-0" />
                            <div class="col-6 mb-2">
                                <div class="col-12 mb-2">
                                    <label class="control-label text-sm-left text-dark font-weight-bolder" for="fname">First Name <span class="text-danger font-weight-bold">&nbsp;(*)</span></label>
                                    <input ng-model="model.fname" placeholder="" type="text" class="form-control form-control-sm" id="fname" name="fname" required />
                                    <span ng-show="frm.fname.$touched && frm.fname.$invalid" style="color:red">First Name is required.</span>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="control-label text-sm-left text-dark font-weight-bolder" for="lname">Last Name <span class="text-danger font-weight-bold">&nbsp;(*)</span></label>
                                    <input ng-model="model.lname" placeholder="" type="text" class="form-control form-control-sm" id="lname" name="lname" required />
                                    <span ng-show="frm.lname.$touched && frm.lname.$invalid" style="color:red">Last Name is required.</span>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="control-label text-sm-left text-dark font-weight-bolder" for="repositoryName">Middle Name </label>
                                    <input ng-model="model.mname" placeholder="" type="text" class="form-control form-control-sm" id="mname" name="mname" />
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="control-label text-sm-left text-dark font-weight-bolder" for="repositoryName">Email </label>
                                    <input ng-model="model.email" placeholder="" type="email" class="form-control form-control-sm" id="email" name="email" />
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="control-label text-sm-left text-dark font-weight-bolder" for="repositoryName">Mobile </label>
                                    <input ng-model="model.mobile" placeholder="" type="text" class="form-control form-control-sm" id="mobile" name="mobile" />
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="control-label text-sm-left text-dark font-weight-bolder" for="repositoryName">Phone</label>
                                    <input ng-model="model.phone" placeholder="" type="text" class="form-control form-control-sm" id="phone" name="phone" />
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="control-label text-sm-left text-dark font-weight-bolder" for="repositoryName">Website</label>
                                    <input ng-model="model.website" placeholder="" type="text" class="form-control form-control-sm" id="website" name="website" />
                                </div>

                            </div>

                            <div class="col-6 mb-2">
                                <div class="col-12 mb-2">
                                    <label class="control-label text-sm-left text-dark font-weight-bolder" for="des">Primary Address1 </label>
                                    <textarea ng-model="model.address1" placeholder="" type="text" class="form-control form-control-sm" id="address1" name="address1"></textarea>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="control-label text-sm-left text-dark font-weight-bolder" for="des">Secondary Address1 </label>
                                    <textarea ng-model="model.address2" placeholder="" type="text" class="form-control form-control-sm" id="address2" name="address2"></textarea>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="control-label text-sm-left text-dark font-weight-bolder" for="type">Type<span class="text-danger font-weight-bold">&nbsp;(*)</span></label>
                                    <select ng-model="model.type" class="form-control form-control-sm" id="type" name="type" required>
                                        <option ng-repeat="item in typeList" value="{{item.id}}">{{item.text}}</option>
                                    </select>
                                    <span ng-show="frm.type.$touched && frm.type.$invalid" style="color:red">Type is required.</span>
                                </div>

                            </div>

                        </div>

                    <div class="row">
                        <div class="title text-left w-100 pt-2 text-dark font-weight-bolder"> Adddtional Information</div>
                            <hr class="border-bottom-light mb-0" />
                            <div class="col-sm-6 mb-2">
                                <label class="control-label text-sm-left text-dark font-weight-bolder" for="des">Description </label>
                                <textarea ng-model="model.des" placeholder="" type="text" class="form-control form-control-sm" id="des" name="des"></textarea>
                            </div>

                            <div class="col-6 mb-2">
                                <label class="control-label text-sm-left text-dark font-weight-bolder" for="des">Other Information </label>
                                <textarea ng-model="model.other" placeholder="" type="text" class="form-control form-control-sm" id="other" name="other"></textarea>
                            </div>

                        </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right" align="right">
            <button type="button" ng-click="Save(0)" ng-disabled="frm.$invalid" class="btn btn-sm btn-primary"><i class="fas fa-save"></i> &nbsp;Save</button>
            <button type="button" ng-click="Save(1)" ng-disabled="frm.$invalid" class="btn btn-sm btn-primary"><i class="fas fa-save"></i> &nbsp;Save & Exit</button>
            <a href="/Contact/Index" class="btn btn-sm btn-danger"><i class="fas fa-times-circle"></i> &nbsp;Cancel</a>
        </div>
    </form>

</div>

<script src="~/lib/angular.js/angular.js"></script>
    <script src="~/js/angularservices/contactservice.js"></script>

