
@{
    ViewData["Title"] = "Edit Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card" ng-app="CRMApp"  ng-controller="ManageCustomerController" ng-init="GetById('@ViewBag.Id')">

        <div class="card-body">
            <div class="shadow rounded">
                <div class="col-12 pr-3 pl-3 text-right"> <a href="/ManageCustomer/Index" class="btn btn-dark" type="button"><i class="fas fa-backward"></i>&nbsp;Back Manage Customer</a></div>
                <div class="title text-left w-100 pt-2 text-dark font-weight-bolder">Customer</div>

                <hr class="border-bottom-light mb-0" />
                <div class="p-2">
                    <div class="row">
                        <div class="col-2 mb-2"></div>
                        <div class="col-8 mb-2">
                            <table>
                                <tr>
                                    <td><b>Full Name:</b></td>
                                    <td>{{model.fname==null?'':model.fname}} &nbsp; {{model.mname==null?'':model.mname}} &nbsp; {{model.lname==null?'':model.lname}} </td>
                                </tr>
                                <tr>
                                    <td><b>Mobile:</b></td>
                                    <td>{{model.mobile}}</td>
                                </tr>
                                <tr>
                                    <td><b>Phone:</b></td>
                                    <td>{{model.phone}}</td>
                                </tr>
                                <tr>
                                    <td><b>Email:</b></td>
                                    <td>{{model.email}}</td>
                                </tr>
                                <tr>
                                    <td><b>Website:</b></td>
                                    <td>{{model.website}}</td>
                                </tr>
                                <tr>
                                    <td><b>Address 1:</b></td>
                                    <td>{{model.address1}}</td>
                                </tr>
                                <tr>
                                    <td><b>Adddress 2:</b></td>
                                    <td>{{model.address2}}</td>
                                </tr>
                                <tr>
                                    <td><b>Des:</b></td>
                                    <td>{{model.des}}</td>
                                </tr>
                            </table>


                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 mb-2">
                            <div class="title text-left w-100 pt-2 text-dark font-weight-bolder">Event</div>
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th>Topic</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Description</th>
                                        <th>Start Date </th>
                                        <th>Start Time</th>
                                        <th>End Date</th>
                                        <th>End Time</th>
                                    </tr>
                                </thead>

                                <tbody style="background-color:white;">
                                    <tr ng-repeat="item in subDataList">
                                        <td>
                                            <span class="table-data-font">{{item.topic}}</span><br />
                                        </td>
                                        <td>
                                            <span class="table-data-font">{{item.type}}</span><br />
                                        </td>
                                        <td>
                                            <span class="table-data-font">{{item.status}}</span><br />
                                        </td>
                                        <td>
                                            <span class="table-data-font">{{item.des}}</span><br />
                                        </td>
                                        <td>
                                            <span class="table-data-font">{{item.start_date | date: 'dd/MMM/yyyy'}}</span><br />
                                        </td>
                                        <td>
                                            <span class="table-data-font">{{item.start_time | date: 'HH:mm a'}}</span><br />
                                        </td>
                                        <td>
                                            <span class="table-data-font">{{item.end_date | date: 'dd/MMM/yyyy'}}</span><br />
                                        </td>
                                        <td>
                                            <span class="table-data-font">{{item.end_time | date: 'HH:mm a'}}</span><br />
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                            <div class="col-12 pr-3 pl-3 text-right"> <a href="/ManageCustomer/CreateEvent/{{model.contact_id}}" class="btn btn-success" type="button"><i class="fas fa-plus-circle"></i>&nbsp;Add Event</a></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-2">
                            <div class="title text-left w-100 pt-2 text-dark font-weight-bolder">Supporter</div>
                            <div><b>{{supportDataList.supportername}}</b></div>


                            <div class="modal fade" id="addSupporter" tabindex="-1" role="dialog" aria-labelledby="addSupporterLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addSupporterLabel">Add Support</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-8 mb-2">
                                                <label class="control-label text-sm-left text-dark font-weight-bolder" for="support_id">Supporter</label>
                                                <select ng-model="support_id" class="form-control form-control-sm" id="support_id" name="support_id">
                                                    <option ng-repeat="item in support_id_list" value="{{item.id}}">{{item.text}}</option>
                                                </select>
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" ng-click="btnSaveSupport()" data-dismiss="modal" id="btnSaveSupport" name="btnSaveSupport"> <i class="fas fa-save"></i>&nbsp;Save &Exist </button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times-circle"></i> &nbsp;Exit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 pr-3 pl-3 text-right">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addSupporter" ng-click="addSupporterButton()" id="addSupporterButton"><i class="fas fa-plus-circle"></i>&nbsp;Add Supporter</button>
                            </div>
                        </div>
                </div>
            </div>



</div>
</div>

<script src="~/lib/angular.js/angular.js"></script>
    <script src="~/js/angularservices/managecustomerservice.js"></script>

